@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --green-main: 15, 118, 110;
    --green-main-hover: 17, 94, 89;
    --orange-main: 245, 158, 11;
    --orange-main-hover: 217, 119, 6;
    --white-main: 255, 255, 255;
    --gray-bg: 226, 232, 240; */
    /* ... */
  }
}

@layer components {
  .btn {
    @apply py-2 px-4 font-bold bg-amber-500 hover:bg-amber-600 shadow-sm focus:outline-none;
  }
  .btn-svg {
    @apply flex ml-3 py-2 px-4 items-center bg-amber-500 hover:bg-amber-600 shadow-sm focus:outline-none;
  }
  .btn-small {
    @apply flex ml-1 py-2 px-3 text-sm;
  }
}